body, html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.header {
    font-size: .75em;
    text-align: left;
    color: #5F4BB6;
    background-color: #C4EBC8;
}

.header h1{
    margin-top: 0;
    margin-bottom: 10px;
}

nav{
    font-size: 1em;
    color: #202A25;
}

nav menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
nav menu li {
    display: inline-block;
    margin-right: 10px;
}

nav menu li a:hover {
    color: #86A5D9; 
}

.page-info{
    text-align: center;
    color: #26F0F1;
    background-color: #202A25;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.page-body ul{
    list-style-type: none;
    margin-bottom: 0;
}

.page-body input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.page-body button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    margin:0px;
}
  
.page-body button:hover {
    background-color: #2980b9;
}

.page-body ul {
    list-style: none;
    padding: 0;
}
  
.page-body li {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center;
}
  
label {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}
  
input {
    flex: 2;
    width: 100%;
    box-sizing: border-box;
}

h5{
    margin: 0;
    padding:0;
    margin-bottom: 10px;
    color: #5F4BB6;
}

h5:hover {
    color: #86A5D9;
}

footer {
    background-color: #C4EBC8;
    text-align: center;
    color: #5F4BB6;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a:hover {
    color: #86A5D9;
}